@import '../../styles/mixins.scss';

.ProductContainer {
  display: flex;
  background: #ffffff;
  border: 4px solid #762f9f;
  max-width: 300px;
}

.Product {
  padding: 10px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  img {
    width: 100%;
    height: 20%;
    object-fit: cover;
  }
}

.body {
  padding: 0px;
}

.title {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: #762f9f;
  font-weight: bold;
}

.article {
  font-size: 12px;
  color: #762f9f;
}

.color {
  font-size: 12px;
  color: #762f9f;
}

.bottom {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.actions {
  display: flex;
  gap: 10px;
}

.basket,
.star {
  cursor: pointer;
  transition: all 300ms ease;
}

.price {
  text-align: right;
  font-size: 18px;
  color: #762f9f;
  font-weight: bold;
}

.modalAddBasket {
  display: flex;
  font-weight: normal;
  gap: 10px;

  .title,
  .price {
    padding: 0;
    font-size: 14px;
    color: #fff;
  }

  .sds {
    color: #cc1934;
    background: #1c8646;
  }
}
